<div>
  <a target="_blank" href="{{ toolSettings.luxiflux_url }}/?AuthenticationUrl={{ toolSettings.auth_url }}&InputMode=JSON&InputUrl={{ toolSettings.input_url }}?iesfile_abs_url={{ toolSettings.iesfiles|url_encode }}&BaseUrl={{ toolSettings.base_url }}" title="{{ toolSettings.tool_button_text }}">{{ toolSettings.tool_button_text }}</a>
</div>
